body{
    background-color: bisque;
}
h1{
    background-color: chocolate;
    color: white;
    text-align: center;
}
#first{
background-color: sienna;
color: snow;
text-align: center;
}
h2{
background-color: turquoise;
color: sienna;
text-align: center;
}
#style{
background-color: teal;
color: seashell;
text-align: center;
}
ol{
background-color: salmon;
}
li{
    color:teal;
}
